.idea
/Examples/HoleVortex/HoleVortex.Android/bin
/Examples/HoleVortex/HoleVortex.Android/obj
/Examples/HoleVortex/HoleVortex.Core/obj
/Examples/HoleVortex/HoleVortex.Core/bin
/Examples/HoleVortex/HoleVortex.Desktop/obj
/Examples/HoleVortex/HoleVortex.Desktop/bin
/FlatPlanet.Desktop/obj
/FlatPlanet.Desktop/bin
/HipsterEngine.Core/obj
/HipsterEngine.Core/bin
/HipsterEngine.Core.Android/obj
/HipsterEngine.Core.Android/bin
/PhysicsEditor/obj
/PhysicsEditor/bin
/Examples/HoleVortex/HoleVortex.Android/bin/Debug/HipsterEngine.Core.Android.dll
/Examples/HoleVortex/HoleVortex.Android/bin/Debug/HipsterEngine.Core.Android.pdb
/Examples/HoleVortex/HoleVortex.Android/bin/Debug/HoleVortex.Android.dll
/Examples/HoleVortex/HoleVortex.Android/bin/Debug/HoleVortex.Android.pdb
/Examples/HoleVortex/HoleVortex.Core/obj/Debug/netstandard2.0/HoleVortex.Core.AssemblyInfo.cs
/Examples/HoleVortex/HoleVortex.Core/obj/Debug/netstandard2.0/HoleVortex.Core.assets.cache
/Examples/HoleVortex/HoleVortex.Core/obj/Debug/netstandard2.0/HoleVortex.Core.csprojAssemblyReference.cache
/Examples/HoleVortex/HoleVortex.Core/obj/HoleVortex.Core.csproj.nuget.cache
/Examples/HoleVortex/HoleVortex.Core/obj/HoleVortex.Core.csproj.nuget.g.props
/Examples/HoleVortex/HoleVortex.Core/obj/HoleVortex.Core.csproj.nuget.g.targets
/Examples/HoleVortex/HoleVortex.Core/obj/project.assets.json
/Examples/HoleVortex/HoleVortex.Desktop/bin/Debug/HoleVortex.Desktop.exe
/Examples/HoleVortex/HoleVortex.Desktop/bin/Debug/HoleVortex.Desktop.pdb
/Examples/HoleVortex/HoleVortex.Desktop/obj/Debug/HoleVortex.Desktop.csprojAssemblyReference.cache
/Examples/HoleVortex/HoleVortex.Desktop/obj/Debug/HoleVortex.Desktop.exe
/Examples/HoleVortex/HoleVortex.Desktop/obj/Debug/HoleVortex.Desktop.pdb
